<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
	<listeners>
		<listener class-name="logger.Listener" />
	</listeners>

	<test name="Chrome Test">
		<classes>
			<class name="TestJson" />
			<class name="TestYaml" />
			<class name="XelTest" />
			<class name="TestRest" />
			<class name="TestWait" />
			<class name="TestHome" />
		</classes>
	</test>
</suite>